.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.cardWidget{
  background: linear-gradient(-45deg, #3f00b5, #9f69fe, #27c8b7, #3f00b5);
  background-size: 800% 400%;
  margin: 5px 15px;
  padding: 0.5em 0.5em;
  display: inline-block;
  border: none;
  border-radius: 10px;
  font-size: 17px;
  font-weight: 700;
  color: white;
  transition: all .5s ease-in-out;
  animation: gradient 10s infinite cubic-bezier(.62, .28, .23, .99) both;
}

.cardWidget:hover {
  animation: gradient 3s infinite;
  transform: scale(1.05);
}

.cardWidget:active {
  animation: gradient 3s infinite;
  transform: scale(0.8);
}

@keyframes gradient {
  0% {
  background-position: 0% 50%;
  }

  50% {
  background-position: 100% 50%;
  }

  100% {
  background-position: 0% 50%;
  }
}

.ItemListConteiner{
  color: #5a1aa3;
  padding: 5px;
  font-size: 20px;
  font-weight: bold;
  background-color: black;
}

.bgNav{
  background-color: black;
}

.borderNav{
  border-bottom: 1px solid white;
}