.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
body{
  background-color: black;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

p {
  font-size: 20px;
}

.cardWidget {
  background: linear-gradient(-45deg, #3f00b5, #9f69fe, #27c8b7, #3f00b5);
  background-size: 800% 400%;
  margin: 5px;
  padding: 0.5em 0.5em;
  display: inline-block;
  border: none;
  border-radius: 10px;
  font-size: 17px;
  font-weight: 700;
  color: white;
  transition: all .5s ease-in-out;
  animation: gradient 10s infinite cubic-bezier(.62, .28, .23, .99) both;
}

.cardWidget:hover {
  animation: gradient 3s infinite;
  transform: scale(1.05);
}

.cardWidget:active {
  animation: gradient 3s infinite;
  transform: scale(0.8);
}

.btnContador{
  background: #0e8b2d;
  position: absolute;
  color:rgb(255, 255, 255);
  font-weight: bold;
  padding: 0px 5px;
  border-radius: 100px;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.h-85{
  width: 85%;
}

.ItemListConteiner {
  min-height: 750px;
  color: #070707;
  padding: 5px;
  font-size: 20px;
  font-weight: bold;
  background-color: black;
  width: 100%;
}

.bgNav {
  background-color: black;
}

.borderNav {
  border-bottom: 1px solid white;
}

.contenedorCard {
  border: 1px rgb(69, 64, 64) solid;
}

.contenedorCard:hover {
  transform: scale(1.02);
  transition: all ease 1s;
}

.contenedorImgCard {
  height: 250px;
  margin: 10px auto;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid black;
}

.contenedorCuerpoCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: linear-gradient(white 5%, rgb(68, 67, 67));

}

.itemList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-left: 40px;
}

.contenedorDetalle {
  background-color: white;
  height: 750px;
  display: flex;
  flex-direction: row;
  margin: 10px 0px;
}

.contenedorImgDetalle {
  width: 50%;
  display: flex;
  justify-content: center;
}

.imgDetalle {
  width: 400px;
}

.itemDetalle {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 60px;
}

.btnCarrito {
  display: inline-block;
  border-radius: 5px;
  border: none;
  background: #0e8b2d;
  color: white;
  font-weight: bold;
  font-family: inherit;
  text-align: center;
  font-size: 15px;
  width: 10em;
  padding: 1em;
  transition: all 0.4s;
  cursor: pointer;
}

.btnCarrito span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.4s;
}

.btnCarrito span:after {
  content: '🛒';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.7s;
}

.btnCarrito:hover span {
  padding-right: 3.55em;
}

.btnCarrito:hover span:after {
  opacity: 4;
  right: 0;
}

.btnIrCarrito {
  margin: 0px auto;
  text-decoration: none;
}

.btnIrCarrito:hover {
  color: #fff;
  transform: rotate(360deg) scale(1.5);
  transition: 1s ease all;
  border: 1px black solid;

}

.btnCountIncremento {
  min-width: 40px;
  --green: #0e8b2d;
  font-size: 30px;
  padding: 0rem 0.5rem;
  margin: 20px;
  letter-spacing: 0.06em;
  position: relative;
  font-family: inherit;
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.3s;
  line-height: 1.4em;
  border: 2px solid var(--green);
  background: linear-gradient(to right, rgba(27, 253, 156, 0.1) 1%, transparent 40%, transparent 60%, rgba(27, 253, 156, 0.1) 100%);
  color: var(--green);
  box-shadow: inset 0 0 10px rgb(225, 224, 224), 0 0 9px 3px rgba(27, 253, 156, 0.1);
}

.btnCountIncremento:hover {
  background: #0e8b2d;
  color: #fff;
}

.btnCountIncremento:before {
  content: "";
  position: absolute;
  left: -4em;
  width: 4em;
  height: 100%;
  top: 0;
  transition: transform .4s ease-in-out;
  background: linear-gradient(to right, transparent 1%, rgba(27, 253, 156, 0.1) 40%, rgba(27, 253, 156, 0.1) 60%, transparent 100%);
}

.btnCountIncremento:hover:before {
  transform: translateX(15em);
}

.btnCountDecremento {
  min-width: 40px;
  --green: #c02121;
  font-size: 30px;
  padding: 0rem 0.5rem;
  margin: 20px;
  letter-spacing: 0.06em;
  position: relative;
  font-family: inherit;
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.3s;
  line-height: 1.4em;
  border: 2px solid var(--green);
  background: linear-gradient(to right, rgba(235, 51, 51, 0.1) 1%, transparent 40%, transparent 60%, rgba(27, 253, 156, 0.1) 100%);
  color: var(--green);
  box-shadow: inset 0 0 10px rgb(225, 224, 224), 0 0 9px 3px rgba(27, 253, 156, 0.1);
}

.btnCountDecremento:hover {
  background: #c02121;
  color: #fff;
}

.btnCountDecremento:before {
  content: "";
  position: absolute;
  left: -4em;
  width: 4em;
  height: 100%;
  top: 0;
  transition: transform .4s ease-in-out;
  background: linear-gradient(to right, transparent 1%, rgba(27, 253, 156, 0.1) 40%, rgba(27, 253, 156, 0.1) 60%, transparent 100%);
}

.btnCountDecremento:hover:before {
  transform: translateX(15em);
}


.lds-roller {
  display: flex;
  position: relative;
  width: 100px;
  height: 100vh;
  margin: 100px auto;
}

.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}

.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  margin: -4px 0 0 -4px;
}

.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}

.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}

.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}

.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}

.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}

.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}

.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}

.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}

@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.links {
  text-decoration: none;
  color: aliceblue;
  font-size: 20px;
}

.links:hover {
  color: rgb(23, 214, 55);
}

.contenedorCart{
  background-color: black;
  width: 90%;
  margin: 20px auto;

}

.contenedorCartProducts{
  display: grid;
  background-color: aliceblue;
}

.contenedorCartProduct{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  justify-content: space-around;
  align-items: center;
  border: 1px solid black

}

.contenedorImgCart{
  width: 80%;
}

.pSinProductos{
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid black;
}

.contenedorOrderDetail{
  margin: 50px auto;
  padding: 20px;
  border: 1px solid white;
  width: 60%;
}
